body {
    background-image: url(https://wallpaperset.com/w/full/f/9/8/210373.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: black;
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    font-weight: 500;
}

/* #leaderboard {
    z-index: 999;
    position: absolute;
    color: black ;
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));;
    font-weight: bold;
    left: 50px;
    top: 200px;
    opacity: 1;
} */

.ul {
    z-index: 999;
    position: absolute;
    color: black ;
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));;
    font-weight: bold;
    left: 50px;
    top: 200px;
    opacity: 1;
}
/* #text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;
  } */