.hide {
    display: none;
}

.jumbotron {
    background-image: url("../img/jumbotron_bg.jpg");
    background-size: cover;
  }

h3 {
    color: white;
    font-weight: 800;
}

h1 {
    color: white;
    font-weight: 800;
}

h4 {
    text-align: center;
}

var {
    color: black
}

.text-center {
    color: green;
    font-weight: 900
}

body {
    height: 100%;
    width: 100%;
}
